

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    width: 600px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    border: 3px solid #1C517A;
    border-radius: 10px;
    background-color:whitesmoke;
    font-size: 14px;
    font-weight: bolder;
    
}

.containerTotal{
    display: grid;
    grid-template-columns: auto auto auto;
}



.imgTotal {
    border: 3px solid #1C517A;
    margin: auto;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    background: url("https://c.tenor.com/g2jjy_Igv6wAAAAC/samoyed-doge.gif");
}
.nombre{
    font-size: 20px;
  font-weight: 600;
    color:#194345;}
    
p{
    
        color :#b72d12;
        font-weight: 800;
        padding-top: 1%;
      }
      .temperament{
        color:#005542
      }
      .button_crear_perr2{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 0.5%;
        color: white;
        background-color: #e06925
        ;
        border: none;
        border-radius: 8px;
        width: 200px;
        height: 50px;
        margin-left: 290px;
       
        transition: all 0.3s ease;
        cursor: pointer;
      
       
      }