
.paginate {
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
    display: contents;
    color: rgb(8, 15, 1);;
    letter-spacing: 5px;
}

.botones {
    font-family: 'Urbanist', sans-serif;
    width: 100px;
    height: 19px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: black;
    color: white;
}

.reload {
    font-family: 'Urbanist', sans-serif;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: rgb(120, 214, 26);
    color: black;
}

.reload:hover {
    transform: scale(1.15)
}

.temperamento {
    width: 110px;
    height: 19px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: black;
    color: white;
}

.crea {
    font-family: 'Urbanist', sans-serif;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-left: 20px;
}

.crea:hover{
    color: black;
    background-color: rgb(120, 214, 26);
}

.title {
    font-family: 'Urbanist', sans-serif;
    margin-top: 0.1px;
    font-size: 70px;
    -webkit-text-stroke-width: 2.7px;
    -webkit-text-fill-color: rgb(120, 214, 26);
}

.card {
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
}

.doggys {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   font-size: large;
   align-content: space-between;
   height: 380px;
}

.link{
   
  text-decoration: none;
  
}
.cargar{
    
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 0.5%;
        color: #ffffff;
        background-color: #e06925
        ;
        border: none;
        border-radius: 8px;
        padding: 12px 22px;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-top: 20px;
      }
      .button_crear_perro{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 0.5%;
        color: #ffffff;
        background-color: #25e03e
        ;
        border: none;
        border-radius: 8px;
        padding: 12px 22px;
        transition: all 0.3s ease;
        cursor: pointer;
       margin-left: 400px;
       
      }
      .paginado{
        padding-top: 15px;
      }
      .custom-select {
        position: relative;
        font-family: Arial;
        padding-top: 30px;
        
      }
      .select {
        background-color: DodgerBlue;
        width: 100px;
        height: 30px;
        font-family: 'Montserrat';
        margin-left: 15%;
        
        
        font-weight: 1000;
      }
       .select:after{
        position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;

       }
     
      
      